@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&family=Roboto:wght@300&display=swap');

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
form {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 208, 8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadesq {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 100%;
} 
.cadesq > h1 {
    margin-top: 100px;
    font-size: 2.5vw;
}
p{
    margin: 0px 158px;
}
.cadesq > h1 {
    color:rgb(255, 255, 255);
}
.imagemsvg {
    width: 35vw;
}
.caddir {
    width: 50vw;
    height: 100vh;
    background-color: rgb(255, 208, 8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadbg {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: rgb(14, 14, 14);
    border-radius: 30px;
    box-shadow: 0px 15px 60px rgb(14, 14, 14);
}
.cadbg > h1 {
    color: rgb(255, 208, 8);
    font-weight: 800;
    margin: 0;
} 
.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px 0px;
    width: 100%;
}
.inputBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    
}
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 208, 8);
    font-size: 10pt;
    box-shadow: 0px 15px 20px rgb(0, 0, 0);
    box-sizing: border-box;   
}
.inputBox > input{
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(51, 51, 51);
    font-size: 10pt;
    box-shadow: 0px 15px 20px rgb(0, 0, 0);
    box-sizing: border-box;   
    color: rgb(129, 129, 129);
}
.inputBox{
    align-items: flex-start;
    justify-content: center;
    display: flex;
}
.textfield > label {
    color: rgb(255, 208, 8);
    margin-bottom: 10px;
}
.inputBox > label {
    margin-bottom: 10px;
    color: rgb(255, 208, 8);
}
#submit {
    background-color: rgb(255, 208, 8);
    color: rgb(14, 14, 14);
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgb(0, 0, 0);
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}
#submit:hover {
    background-color: rgb(251, 255, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0px 15px 30px rgba(255, 255, 255, 0.055);
}
